black>=26.1.0
dj-database-url>=3.1.0
Django>=6.0.1
django-cors-headers>=4.9.0
djangorestframework>=3.16.1
djangorestframework-simplejwt>=5.5.1
drf-yasg>=1.21.14
isort>=7.0.0
pre-commit>=4.5.1
python-decouple>=3.8
django-extensions>=3.2.3
pydotplus>=2.0.2
